<p id="notice"><%= notice %></p>
<% require 'json' %>
<% request_uri = 'api.openweathermap.org/data/2.5/forecast/daily?q=' + @cityweather.city + "&APPID=17d7c464b1b3c40e4c48297d750a9010" %>
<% data = open(request_uri).read %>
<% weather = JSON.parsed(data) %>
  

<%= link_to 'Edit', edit_cityweather_path(@cityweather) %> |
<%= link_to 'Back', cityweathers_path %>
